mixin dropdown(params)
  - expMenuHidden = params.expMenuHidden === 'true' ? 'dropdown__menu_hidden' : ''

  .dropdown(class=`js-${params.type}`)
    .dropdown__caption
      h3.dropdown__caption-left= params.leftCaption
      if (params.rightCaption)
        h3.dropdown__caption-right= params.rightCaption
    .dropdown__block.js-dropdown__block(class=params.menuStatus)
      .dropdown__block_top.js-dropdown__block_top(data-dd-action="showHide" tabindex="0")
        p.dropdown__selection_text.js-dropdown__selection-text(data-dd-action="showHide")= params.selectionText
        .dropdown__expand-button.material-icons(data-dd-action="showHide") expand_more

      .dropdown__menu.js-dropdown__menu(class= expMenuHidden)

        if (params.type == "dropdown-options")
          - items = { "item1": {valName : "Спальни", vName: "bedrooms"},"item2": {valName : "Кровати", vName: "beds"},"item3": {valName : "Ванные комнаты", vName: "bathrooms"} };
          if (params.idPostfix == "-changed-example")
            - items = { "item1": {valName : "Спальни", vName: "bedrooms", valCounter: "2", valClass: "dark"},"item2": {valName : "Кровати", vName: "beds", valCounter: "2", valClass: "dark"},"item3": {valName : "Ванные комнаты", vName: "bathrooms"} };

        if (params.type == "dropdown-guests")
          - items = { "item1": {valName : "Взрослые", vName: "adults"},"item2": {valName : "Дети", vName: "childs"},"item3": {valName : "Младенцы", vName: "babies"} };
          if (params.idPostfix == "-changed-example")
            - items = { "item1": {valName : "Взрослые", vName: "adults", valCounter: "2", valClass: "dark"},"item2": {valName : "Дети", vName: "childs", valCounter: "1", valClass: "dark"},"item3": {valName : "Младенцы", vName: "babies"} };

        //- form(action='change-me')
        if (params.formPart === 'true')
          each val, key in items
            .dropdown__menu-option(class=key)
              p.dropdown__item= val.valName
              .dropdown__item-controls.js-dropdown__item-controls
                button.dropdown__button-decrement.js-dropdown__button-decrement(tabindex="0" class=val.valClass data-dd-action="decrement" type="button")
                input.dropdown__counter.js-dropdown__counter(tabindex="-1" name=val.vName value=val.valCounter || 0)
                button.dropdown__button-increment(tabindex="0" data-dd-action="increment" type="button")
        else
          form(action='change-me')
            each val, key in items
              .dropdown__menu-option(class=key)
                p.dropdown__item= val.valName
                .dropdown__item-controls.js-dropdown__item-controls
                  button.dropdown__button-decrement.js-dropdown__button-decrement(tabindex="0" class=val.valClass data-dd-action="decrement" type="button")
                  input.dropdown__counter.js-dropdown__counter(tabindex="-1" name=val.vName value=val.valCounter || 0)
                  button.dropdown__button-increment(tabindex="0" data-dd-action="increment" type="button")

        //- dropdown buttons for dropdown-guests
        if (params.type == "dropdown-guests")
          .dropdown-guests__buttons
            if (params.cleanButtonStatus == "show")
              - cleanButtonClass = "dropdown-guests__button_clean_"+params.cleanButtonStatus

            button.dropdown-guests__button_clean.js-dropdown-guests__button_clean(tabindex="0" class=cleanButtonClass data-dd-action="clean" type="button") очистить
            button.dropdown-guests__button_apply.js-dropdown-guests__button_apply(tabindex="0" data-dd-action="apply" type="button") применить


//- examples
//- +dropdown({ leftCaption:   "dropdown",
//-             rightCaption:  "default",
//-             type:          "dropdown-options",
//-             selectionText: "2 спальни, 2 кровати...",
//-             expMenuHidden: "true",
//-           })

//- +dropdown({ leftCaption:   "dropdown",
//-             type:          "dropdown-guests",
//-             selectionText: "Сколько гостей",
//-             expMenuHidden: "true",
//-           })

//- +dropdown({ leftCaption:   "dropdown",
//-             type:          "dropdown-guests",
//-             selectionText: "Сколько гостей",
//-             menuStatus:    "menu-open",
//-           })