mixin dropdown(params)
  .dropdown(id=params.id)
    .dropdown__caption
      h3.dropdown__caption-left= params.leftCaption
      h3.dropdown__caption-right= params.rightCaption
    .dropdown__block.js-dropdown__block(class=params.menuStatus)
      .dropdown__block_top(data-dd-action='showHide')
        p.dropdown__selection_text.js-dropdown__selection-text(data-dd-action='showHide')= params.selectionText
        .dropdown__expand-button.material-icons(data-dd-action='showHide') expand_more

      .dropdown__menu.js-dropdown__menu(hidden=params.expMenuStatus)

        if (params.idPostfix == '-changed-example')
          - var items = { 'item1': {valName : 'Спальни', valCounter: '2', valClass: 'dark'},'item2': {valName : 'Кровати', valCounter: '2', valClass: 'dark'},'item3': {valName : 'Ванные комнаты'} };
        if (params.id == 'dropdown-options')
          - var items = { 'item1': {valName : 'Спальни'},'item2': {valName : 'Кровати'},'item3': {valName : 'Ванные комнаты'} };
        if (params.id == 'dropdown-guests')
          - var items = { 'item1': {valName : 'Взрослые'},'item2': {valName : 'Дети'},'item3': {valName : 'Младенцы'} };

          if (params.idPostfix == '-changed-example')
            - var items = { 'item1': {valName : 'Взрослые', valCounter: '2', valClass: 'dark'},'item2': {valName : 'Дети', valCounter: '1', valClass: 'dark'},'item3': {valName : 'Младенцы'} };

        each val, key in items
          .dropdown__menu-option(class=key)
            p.dropdown__item= val.valName
            .dropdown__item-controls.js-dropdown__item-controls
              button.dropdown__button-decrement.js-dropdown__button-decrement(class=val.valClass data-dd-action='decrement')
              span.dropdown__counter.js-dropdown__counter= val.valCounter || 0
              button.dropdown__button-increment(data-dd-action='increment')

        //- dropdown buttons for dropdown-guests
        if (params.id == 'dropdown-guests')
          .dropdown-guests__buttons
            if (params.cleanButtonStatus == 'show')
              - var cleanButtonClass = 'dropdown-guests__button_clean_'+params.cleanButtonStatus

            button.dropdown-guests__button_clean(class=cleanButtonClass data-dd-action='clean') очистить
            button.dropdown-guests__button_apply(data-dd-action='apply') применить


//- examples
//- +dropdown({ leftCaption:   'dropdown',
//-             rightCaption:  'default',
//-             id:            'dropdown-options',
//-             selectionText: '2 спальни, 2 кровати...',
//-             expMenuStatus: 'hidden',
//-           })

//- +dropdown({ leftCaption:   'dropdown',
//-             id:            'dropdown-guests',
//-             selectionText: 'Сколько гостей',
//-             expMenuStatus: 'hidden',
//-           })

//- +dropdown({ leftCaption:   'dropdown',
//-             id:            'dropdown-guests',
//-             selectionText: 'Сколько гостей',
//-             menuStatus:    'menu-open',
//-           })