mixin checkbox-buttons(caption = "", leftCaption = "", inpId = "", inpName = "", hidden = "false", items = [])

  - visibility = hidden === "true" ? "hidden" : ""
  - rotateClass = hidden === "false" ? "checkbox-buttons__expandable-list-expand-more-rotate" : ""

  .checkbox-buttons
    if (leftCaption !== "")
        h3.checkbox-buttons__caption= leftCaption
    else
      .checkbox-buttons__expandable-list.js-checkbox-buttons__expandable-list(
        tabindex = "0"
      )
        .checkbox-buttons__expandable-list-caption
          h3.checkbox-buttons__expandable-list-text= caption
          .checkbox-buttons__expandable-list-expand-more(
            class = rotateClass
          ) expand_more

    .checkbox-buttons-items(class = visibility)
      each item, index in items
        .checkbox-buttons-input
          input.custom-checkbox.js-custom-checkbox(
            tabindex = "-1"
            type = "checkbox",
            checked = item.isChecked,
            id = `inpId-${index}`,
            name = inpName,
            value = item.value,
          )
          label.checkbox-buttons-text.js-checkbox-buttons-text(
            tabindex = "0"
            for = `inpId-${index}`
          ) #{item.label}

//- example checkbox buttons only
//- +checkbox-buttons(
//-   "",                   // caption
//-   "правила дома",       // leftCaption
//-   "check-box-buttons",  // inpId
//-   "check-box-name",     // inpName
//-   "false",              // hidden
//-   [
//-     { value: "allow-smoke", label: "Можно курить" },
//-     { value: "allow-pet", label: "Можно с питомцами", isChecked: "true" },
//-     {
//-       value: "allow guests",
//-       label: "Можно пригласить гостей (до 10 человек)",
//-       isChecked: "true",
//-     },
//-   ]
//- )

//- example expandable checkbox list (default, not expanded)
//- +checkbox-buttons(
//-   "дополнителные удобства",  // caption
//-   "",                        // leftCaption
//-   "check-box-buttons-1",     // inpId
//-   "check-box-name-1",        // inpName
//-   "false",                   // hidden
//-   [
//-     { value: "breakfast", label: "Завтрак" },
//-     { value: "table", label: "Письменный стол" },
//-     { value: "chair", label: "Стул для кормления" },
//-     { value: "bed", label: "Кроватка" },
//-     { value: "TV", label: "Телевизор" },
//-     { value: "shampoo", label: "Шампунь" },
//-   ]
//- )
