mixin toggle(params)
  .toggle
    if (params.leftCaption)
      h3.toggle__caption= params.leftCaption
    .toggle-body
      input.toggle-button.js-toggle__button(
        id= params.toggleId,
        type="checkbox"
        checked=params.toggleStatus
        name=params.toggleName
      )

      label.toggle-text(for= params.toggleId) #{params.toggleBtnText}

//- example
//- +toggle({
//-   leftCaption: "toggle",
//-   toggleBtnText: "Получать спецпредложения",
//-   toggleName: "someName",
//-   toggleStatus: "checked",
//-   toggleId: "toggle-id-name-",
//- })

//- +toggle({
//-   toggleBtnText: "Получать спецпредложения",
//-   toggleName: "specialOffers",
//-   toggleId: "toggle-id-name-",
//- })