mixin logo(props)
  if (props.type === 'header')
    - classPrefix = 'header__logo'

  if (props.type === 'footer')
    -classPrefix = 'footer__logo'

  if (props.type === 'toxin')
    .toxin-logo
      a(href="index.html")
        img(src="./assets/img/logo.svg", alt="logo", loading="lazy")

  else
    div(class=`${classPrefix}`)
      img(
        class=`${classPrefix}-img`,
        src="./assets/img/logo_colored.svg",
        alt="logo",
        loading="lazy",
      )

      if (props.label === 'true')
        img(
          class=`${classPrefix}-name`,
          src="./assets/img/TOXIN.svg",
          alt="logo",
          loading="lazy",
        )

//- example
//- +logo({
//-   type: 'header',
//-   label: 'true',
//- })