mixin rich-checkbox-buttons(params)
  h3.rich-checkbox-buttons__caption= params.caption

  each val, index in params.optionText
    - var rcb_item_id = 'rich-checkbox-buttons-' + index
    .rich-checkbox-buttons__item
      input.rich-checkbox-buttons__input(type='checkbox', id=rcb_item_id, name='rcb-'+index, value=params.optionsValue[index])
      label.rich-checkbox-buttons__text(for=rcb_item_id)
        .rich-checkbox-buttons__text-block
          .rich-checkbox-buttons__text_bold #{val}
          p.rich-checkbox-buttons__p= params.optionSubText[index]


//- example
//- +rich-checkbox-buttons({caption:       'rich checkbox buttons',
//-                         optionsValue:  ['wide-corridor',
//-                                         'assistant-for-the-disabled'],
//-                         optionText:    ['Широкий коридор',
//-                                         'Помощник для инвалидов'],
//-                         optionSubText: ['Ширина коридоров в номере не менее 91 см.',
//-                                         'На 1 этаже вас встретит специалист и проводит до номера'],
//-                         })
