mixin rich-checkbox-buttons(caption = "", items = [])
  h3.rich-checkbox-buttons__caption= caption

  each item, index in items
    - rcb_item_id = `rich-checkbox-buttons-${index}`

    .rich-checkbox-buttons__item.js-rich-checkbox-buttons__item(tabindex="0")
      input.rich-checkbox-buttons__input.js-rich-checkbox-buttons__input(
        tabindex="-1"
        type="checkbox"
        id=rcb_item_id
        name=`rcb-${index}`
        value=item.value
      )

      label.rich-checkbox-buttons__text.js-rich-checkbox-buttons__text(for=rcb_item_id)
        span.rich-checkbox-buttons__text_bold #{item.label}
        span.rich-checkbox-buttons__p= item.text


//- example
//- +rich-checkbox-buttons(
//-   "rich checkbox buttons",
//-   [
//-     {
//-       value: "wide-corridor",
//-       label: "Широкий коридор",
//-       text: "Ширина коридоров в номере не менее 91 см.",
//-     },
//-     {
//-       value: "assistant-for-the-disabled",
//-       label: "Помощник для инвалидов",
//-       text: "На 1 этаже вас встретит специалист и проводит до номера",
//-     }
//-   ]
//- )
