mixin radio-buttons(params = {})
  -
    const {
      leftCaption = "",
      name = "gender",
      items = [
        { value: 'Мужчина', isChecked: 'checked' },
        { value: 'Женщина' }
      ],
    } = params

  .radio-buttons
    if (leftCaption)
      h3.radio-buttons__caption= leftCaption

    .radio-buttons__items
      each item, index in items
        p.radio-buttons__text
          input.radio-buttons__input(
            id = `${name}-${index}`,
            type = "radio",
            name = name,
            value = item.value,
            checked = item.isChecked,
          )
          label.radio-buttons__label(for = `${name}-${index}`) #{item.value}
