include ./__feedbacks/__feedbacks
include ./slick-carousel/slick-carousel
include ../booking/__caption/booking__caption
include ../../form-elements/rate-button/rate-button

mixin room-card(params = {})
  -
    const {
      number = '',
      status = '',
      price = '',
      photoName = '',
      starsRate = '',
      feedbacks = '',
      link = "change-me"
    } = params

  .room-card
    .room-card__picture-container
      +slick-carousel({
        photoName: photoName,
      })

    .room-card__number-price
      +booking-caption({
        roomNumber: number,
        roomStatus: status,
        roomPrice: `${price}₽`,
        link: link
      })

    .room-card__feedback
      +rate-button({
        rateBtnName: `rateBtnName-${number}`,
        rateBtnId: `rateBtnId-${number}-`,
        starsCount: starsRate,
      })

      +feedbacks({
        number: feedbacks,
        text: "Отзывов",
      })


//- example
//- +room-card({
//-   number: room.number,
//-   status: room.luxStatus,
//-   price: `${room.price}₽`,
//-   photoName: `room-card-${room.number}.jpg`,
//-   starsRate: room.starsRate,
//-   feedbacks: room.feedbacks,
//- })
