mixin socials(params)
  - mobile = params.mobile === 'true' ? 'socials_mob' : ''

  .socials(class= mobile)
    a.socials-link(
      href= "change_me"
      tabindex ="0"
      target= "_blank"
      rel= "noopener noreferrer"
    )
      i.fab.fa-twitter.socials-gradient-icon

    a.socials-link(
      href= "change_me"
      tabindex ="0"
      target= "_blank"
      rel= "noopener noreferrer"
    )
      i.fab.fa-facebook.socials-gradient-icon

    a.socials-link(
      href= "change_me"
      tabindex ="0"
      target= "_blank"
      rel= "noopener noreferrer"
    )
      i.fab.fa-instagram.socials-gradient-icon