mixin dropdown-guests(params)
  h3.dropdown-guests__caption= params.leftCaption
  .iqdropdown(id=`${params.idPrefix}${params.idPostfix}` class=params.menuStatus)
    .dropdown-guests
      p.iqdropdown-selection__text= params.selectionText
      .dropdown-guests__expand-button.material-icons expand_more
      
    .iqdropdown-menu(class=params.expMenuStatus)

      - var items = { 'item1': {valName : 'Взрослые'},'item2': {valName : 'Дети'},'item3': {valName : 'Младенцы'} };
      each val, key in items
        .iqdropdown-menu-option(id=key)
          p.iqdropdown-item= val.valName
          .iqdropdown-item-controls
            button.button-decrement.empty(id=`${params.idPrefix}${params.idPostfix}-${key}-button-decrement`)
              i.icon-decrement
            span.counter(id=`${params.idPrefix}${params.idPostfix}-${key}-counter`) 0
            button.button-increment(id=`${params.idPrefix}${params.idPostfix}-${key}-button-increment`)
              i.icon-increment
      
      .iqdropdown-buttons
        button.iqdropdown-button_clean.hidden(id=`${params.idPrefix}${params.idPostfix}-button-clean`) очистить
        button.iqdropdown-button_apply(id=`${params.idPrefix}${params.idPostfix}-button-apply`) применить

