mixin dropdown-guests(params)
  h3.dropdown-guests__caption= params.leftCaption
  .dropdown-guests-block(id=`dropdown-guests${params.idPostfix}` class=params.menuStatus)
    .dropdown-guests
      p.dropdown-guests-selection__text= params.selectionText
      .dropdown-guests__expand-button.material-icons expand_more
      
    .dropdown-guests-menu(class=params.expMenuStatus)

      - var items = { 'item1': {valName : 'Взрослые'},'item2': {valName : 'Дети'},'item3': {valName : 'Младенцы'} };
      each val, key in items
        .dropdown-guests-menu-option(id=key)
          p.dropdown-guests-item= val.valName
          .dropdown-guests-item-controls
            button.button-decrement.empty(id=`dropdown-guests${params.idPostfix}-${key}-button-decrement`)
              i.icon-decrement
            span.counter(id=`dropdown-guests${params.idPostfix}-${key}-counter`) 0
            button.button-increment(id=`dropdown-guests${params.idPostfix}-${key}-button-increment`)
              i.icon-increment
      
      .dropdown-guests-buttons
        button.dropdown-guests-button_clean.hidden(id=`dropdown-guests${params.idPostfix}-button-clean`) очистить
        button.dropdown-guests-button_apply(id=`dropdown-guests${params.idPostfix}-button-apply`) применить

