extends ../components/layouts/main-header-footer

include ../components/ui-kit/cards/booking/booking
include ../components/ui-kit/form-elements/bullet-list/bullet-list
include ../components/ui-kit/form-elements/comments/comments
include ../components/ui-kit/form-elements/d3js-donut-chart/d3js-donut-chart
include ../components/ui-kit/form-elements/icon-text-list/icon-text-list

block variables
  - title = "FSD Room details";
  - description = "FSD education project | Room details";

block content

  .room-details-images
    .room-details-images__left
      img(
        src="./assets/img/room-card-888-big_size.jpg",
        alt="room 888 big picture",
        loading="lazy",
      ).room-details-images_size_big

    .room-details-images__right
      img(
        src="./assets/img/room-card-888-2-mid_size.jpg",
        alt="room 888 picture",
        loading="lazy",
      ).room-details-images_size_middle
      
      img(
        src="./assets/img/room-card-888-3-mid_size.jpg",
        alt="room 888 picture",
        loading="lazy",
      ).room-details-images_size_middle

  .room-details-container

    .room-details-flex-container

      .room-details-column-1

        .room-details
          .room-details-description
            h2.room-details-caption Сведения о номере
            .room-details-icon-text-list
              +icon-text-list({
                iconName : "insert_emoticon",
                caption:   "Комфорт",
                text:      "Шумопоглощающие стены",
              })

              +icon-text-list({
                iconName : "location_city",
                caption:   "Удобство",
                text:      "Окно в каждой из спален",
              })

              +icon-text-list({
                iconName : "whatshot",
                caption:   "Уют",
                text:      "Номер оснащен камином",
              })

          .room-details-chart
            h2.room-details-caption Впечатления от номера
            +d3js-donut-chart({
              width:  "120",
              height: "120",
              great:  "130",
              good:   "65",
              normal: "65",
              bad:    "0",
              legendValues: [
                "Великолепно",
                "Хорошо",
                "Удовлетворительно",
                "Разочарован",
              ],
            })


        .room-details-feedbacks
          .room-details-feedbacks__caption
            h2.room-details-caption Отзывы посетителей номера
            p 2 отзыва

          .room-details-comments
            +comments({
              imageName:      "avatar.jpg",
              userName:       "Мурад Сарафанов",
              commentDate:    "5 дней назад",
              feedbackText:   "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.",
              likeBtnId:      "likeBtnId-1",
              likeBtnChecked: "true",
              likeBtnText:    "12",
            })

          .room-details-comments
            +comments({
              imageName:     "avatar2.jpg",
              userName:      "Патрисия Стёклышкова",
              commentDate:   "Неделю назад",
              feedbackText:  "Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент.",
              likeBtnId:     "likeBtnId-2",
              likeBtnText:   "2",
            })

        .room-details-rules
          .room-details-rules__left
            h2.room-details-caption.room-details-caption_position Правила
            +bullet-list({
              options: [
                "Нельзя с питомцами",
                "Без вечеринок и мероприятий",
                "Время прибытия - после 13:00, а выезд до 12:00",
              ],
            })

          .room-details-rules__right
            h2.room-details-caption Отмена
            p
              | Бесплатная отмена в течение 48 ч.
              | После этого при отмене не позднее чем за 5 дн.
              | до прибытия вы получите полный возврат за вычетом сбора за услуги.


      .room-details-column-2
        +booking({
          roomPrice:                    "9 990₽",
          daysPriceText:                " x 4 суток",
          servicesPriceText:            "Сбор за услуги: скидка 2 179₽",
          additionalServicesPriceText:  "Сбор за дополнительные услуги",
          daysPriceValue:               "39 960₽",
          servicesPriceValue:           "0₽",
          additionalServicesPriceValue: "300₽",
          resultText:                   "Итого",
          resultSum:                    `38\u00A0081₽`,
        })
