include ./__caption/booking__caption
include ../../../ui-kit/form-elements/button/button
include ../../../ui-kit/form-elements/dropdown/dropdown
include ../../../ui-kit/form-elements/dropdown-date/dropdown-date

mixin booking(params = {})
  -
    const {
      roomPrice = '9 990₽',
      daysPriceText = ' x 4 суток',
      servicesPriceText = 'Сбор за услуги: скидка 2 179₽',
      additionalServicesPriceText = 'Сбор за дополнительные услуги',
      daysPriceValue = '39\u00A0960₽',
      servicesPriceValue = '0₽',
      additionalServicesPriceValue = '300₽',
      resultText = 'Итого',
      resultSum = '38\u00A0081₽'
    } = params

  .booking
    form.js-booking-form(action = "#change-me")
      +booking-caption({
        roomNumber: "888",
        roomStatus: "Люкс",
        roomPrice: roomPrice,
        captionType: "booking",
      })

      .booking__date-dropdown-margin
        +dropdown-date()

      +dropdown({
        type: "dropdown-guests",
        selectionText: "3 гостя",
        formPart: "true",
      })

      .booking__options
        .booking__options_left
          .booking__options-item
            p.booking__options-item-text= `${roomPrice} ${daysPriceText}`

          .booking__options-item
            p.booking__options-item-text= servicesPriceText
            .booking__options-info-icon

          .booking__options-item
            p.booking__options-item-text= additionalServicesPriceText
            .booking__options-info-icon

        .booking__options_right
          p.booking__options-item-text= daysPriceValue
          p.booking__options-item-text= servicesPriceValue
          p.booking__options-item-text= additionalServicesPriceValue

      .booking__options-result
        p.booking__options-result-text= resultText
        .booking__options-result-line
        p.booking__options-result-sum= resultSum

      +button({ value: "Забронировать" })
