include ./__caption/booking__caption
include ../../../ui-kit/form-elements/button/button
include ../../../ui-kit/form-elements/dropdown/dropdown
include ../../../ui-kit/form-elements/dropdown-date/dropdown-date

mixin booking(params)
  .booking

    form.js-booking-form(action = "#change-me")
      +booking-caption({
        roomNumber: "888",
        roomStatus: "Люкс",
        roomPrice: params.roomPrice,
        fontSize: 'booking-caption',
        captionType: "booking",
      })

      .booking__date-dropdown-margin
        +dropdown-date({
          startDateCaption: "прибытие",
          endDateCaption: "выезд",
          startDefaultDate: "19.08.2019",
          endDefaultDate: "23.08.2019",
        })

      +dropdown({
        leftCaption: "гости",
        type: "dropdown-guests",
        selectionText: "3 гостя",
        expMenuHidden: "true",
        formPart: "true",
      })

      .booking__options
        .booking__options_left
          .booking__options-item
            p.booking__options-item-text= `${params.roomPrice} ${params.daysPriceText}`

          .booking__options-item
            p.booking__options-item-text= params.servicesPriceText
            .booking__options-info-icon

          .booking__options-item
            p.booking__options-item-text= params.additionalServicesPriceText
            .booking__options-info-icon

        .booking__options_right
          p.booking__options-item-text= params.daysPriceValue
          p.booking__options-item-text= params.servicesPriceValue
          p.booking__options-item-text= params.additionalServicesPriceValue

      .booking__options-result
        p.booking__options-result-text= params.resultText
        .booking__options-result-line
        p.booking__options-result-sum= params.resultSum

      +button({ value: "Забронировать" })
