mixin booking(params)
  .booking.cards-border

    include ./__caption/booking__caption
    +booking-caption({roomNumber: '888',
                      roomStatus: 'Люкс',
                      roomPrice:  '9 990₽',})

    .booking__date-dropdown-margin
      include ../../../ui-kit/form-elements/date-dropdown/date-dropdown
      +date-dropdown({startDateCaption: 'прибытие',
                      endDateCaption:   'выезд',
                      startInpId:       'startDate',
                      endInpId:         'endDate',
                      startDefaultDate: '19.08.2019',
                      endDefaultDate:   '23.08.2019',
                      })

    include ../../../ui-kit/form-elements/dropdown-guests/dropdown-guests
    +dropdown-guests({leftCaption:   'гости',
                      idPrefix:      'drop-down',
                      idPostfix:     '-1',
                      selectionText: '3 гостя',
                      expMenuStatus: 'visibility-hidden',
                     })


    .booking__options-block

      .booking__options-left
        .booking__options-item-block
          p.booking__options-item=params.roomPrice + params.daysPriceText
        .booking__options-item-block
          p.booking__options-item=params.servicesPriceText
          .booking__options-info-icon
        .booking__options-item-block
          p.booking__options-item=params.additionalServicesPriceText
          .booking__options-info-icon

      .booking__options-right
        p.booking__options-item=params.daysPriceValue
        p.booking__options-item=params.servicesPriceValue
        p.booking__options-item=params.additionalServicesPriceValue

    .booking__options-result
      .booking__options-result-text=params.resultText
      .booking__options-result-line
      .booking__options-result-sum= params.resultSum

    include ../../../ui-kit/form-elements/buttons/buttons
    +button({link: 'change_me', mod: ['with_arrow','block'], value: 'Забронировать'})