mixin date-dropdown(params)
  .date-dropdown

    .date-dropdown__block
      .date-dropdown__caption
        h3= params.startDateCaption
      .date-dropdown__input-block(id=params.startInpId).input__style
        p.date-dropdown__text ДД.ММ.ГГГГ
        span.date-dropdown__expand-button.material-icons expand_more

    .date-dropdown__block
      .date-dropdown__caption
        h3= params.endDateCaption
      .date-dropdown__input-block(id=params.endInpId).input__style
        p.date-dropdown__text= (params.endDefaultDate || "ДД.ММ.ГГГГ")
        span.date-dropdown__expand-button.material-icons expand_more