mixin textfield(params)
  .textfield__caption
    h3.textfield__caption-left= params.leftCaption
    h3.textfield__caption-right= params.rightCaption
  input.textfield__input(style= 'text-transform: '+params.textTransform+';').input__style(class=params.hoverStyle)(type= params.inpType name=params.inpName inputmode=params.inpMode placeholder=params.inpPlaceholder id=params.inpId)

//- examples
//-
//- textfield
//- +textfield({leftCaption:    'text field', 
//-             rightCaption:   'default',
//-             inpType:        'email',
//-             inpName:        'email',
//-             inpMode:        'email',
//-             inpPlaceholder: 'Email',
//-             inpId:          'emailtexfield',
//-             hoverStyle:     'like-hover'})
//-

//- TODO add mask https://givik.ru/posts/jquery-mask-plugin-primery-ispolzovaniya
//-
//- masked textfield
//- +textfield({leftCaption:    'masked text field',
//-             inpType:        'date',
//-             inpName:        'date',
//-             inpId:          'dateField',
//-             textTransform:  'uppercase'})