mixin slick-carousel(params)
  .slick-picture.js-slick-picture
    img.slick-item_picture(
      src="./assets/img/"+params.photoName,
      loading="lazy",
      alt="фото номера",
    )

    img.slick-item_picture(
      src="./assets/img/"+params.photoName,
      loading="lazy",
      alt="фото номера",
    )

    img.slick-item_picture(
      src="./assets/img/"+params.photoName,
      loading="lazy",
      alt="фото номера",
    )

    img.slick-item-picture(
      src="./assets/img/"+params.photoName,
      loading="lazy",
      alt="фото номера",
    )