mixin range-slider(params)
  .range-slider
    .range-slider__caption
      h3.range-slider__caption_left= params.leftCaption
      h3.range-slider__caption_right= params.rightCaption

    input.range-slider__input(
      type= "text"
      class= "js-range-slider"
      name= "my_range"
      value= ""
    )